[cgos-server]
# -------------------------------------------------------------
# everything is case sensitive and must be exactly as specified
# -------------------------------------------------------------

adminPassword = not_used_so_do_not_worry_about_it


# Desripting name of server for sgf and html pages
# ------------------------------------------------
serverName  = (CGOS) 13x13 Computer Go Server

htmlInfoMsg = Boardsize 13x13 - 10 minutes per side

portNumber  = 6813

# ---------------------------------------------------------
#	boardsize
#	komi
#	level
# ---------------------------------------------------------

boardsize = 13
komi      = 7.0
ko        = POSITIONAL
#ko        = SIMPLE
rule      = Chinese
#rule      = Japanese
level     = 900
handiElo  = 100

timeGift  = 0.25


# Note: the database does not have to exist, but the path to it does
# ------------------------------------------------------------------

logging_directory = /home/hellwig/Go-Server/cgos-hg/run/server-data/13x13/logs
logging_filename = cgos_server.log

database_state_file   = /home/hellwig/Go-Server/cgos-hg/run/server-data/13x13/state.db
cgi_database          = /home/hellwig/Go-Server/cgos-hg/run/server-data/13x13/cgi.db
game_archive_database = /home/hellwig/Go-Server/cgos-hg/run/server-data/13x13/archive.db

web_data_file = /home/hellwig/Go-Server/cgos-hg/run/server-data/13x13/wdata.txt


# default_rating in Elo points
# ----------------------------
defaultRating = 1800.0
# minimum K
minK          = 3.0
# maximum K
maxK          = 200.0


# directory where WEB pages are stored for CGOS
# ---------------------------------------------
htmlDir = /home/hellwig/Go-Server/cgos-hg/run/server-html/13x13
sgfDir  = SGF
compressSgf = True
moveIntervalBetweenSave = 1


# -------------------------------------------------
# How long should an entry appear on main web page
# if there have been no games played?  (in days)
# -------------------------------------------------
provisionalAge = 0.04
establishedAge = 31.0


# If this file exists, the server stops scheduling
# games and exits after all games are complete
# -------------------------------------------------
killFileSrv = /home/hellwig/Go-Server/cgos-hg/run/server-code/kill_cgos13


# If this file exists, the webpage builder stops
# -------------------------------------------------
killFileWeb = /home/hellwig/Go-Server/cgos-hg/run/server-code/kill_webuild13


# File that contains list of bad users
bad_users_file =

# Store hashed password
hashPassword = False

# Match mode AUTO/ADMIN
matchMode = AUTO

[passlib]
# setup the context to support pbkdf2_sha256, and some other hashes:
schemes = pbkdf2_sha256, sha512_crypt, md5_crypt

# deprecated schemes
deprecated = md5_crypt
