Common:
  KillFile = kill.txt
  # Log file (Optional)
  #LogFile = log/cgos.log

GTPEngine:
  Name = <name-of-engine>
  CommandLine = <command-line>

  ServerHost = <server-host>
  ServerPort = 1919
  ServerUser = <server-user>
  ServerPassword = <server-password>

  # This is ignored in case of a single GTPEngine
  NumberOfGames = 5

  # Directory to save SGF (Optional)
  #SGFDirectory = sgf/Engine1

  # Log file (Optional)
  #LogFile = log/Engine1.txt
