Common:
  KillFile = kill.txt
  # Log file (Optional)
  #LogFile = log/cgos.log

GTPEngine:
  Name = Gnugo Level 8
  CommandLine = /home/hellwig/Go/gnugo/corrected/gnugo-3.8/interface/gnugo --mode gtp --score aftermath --capture-all-dead --chinese-rules --level 8

  ServerHost = localhost
  ServerPort = 1919
  ServerUser = hg-gnugo
  ServerPassword = geheim1234

  # This is ignored in case of a single GTPEngine
  NumberOfGames = 5

  # Directory to save SGF (Optional)
  #SGFDirectory = sgf/Engine1

  # Log file (Optional)
  #LogFile = log/Engine1.txt
