Common:
  KillFile = kill_client
  # Log file (Optional)
  #LogFile = log/cgos.log

GTPEngine:
  Name = Pachi 12.86
  CommandLine = /home/hellwig/Go/pachi/Pachi-12.86/pachi -D -o pachi.log

  ServerHost = localhost
  ServerPort = 1919
  ServerUser = hg-pachi
  ServerPassword = geheim4321

  # This is ignored in case of a single GTPEngine
  NumberOfGames = 5

  # Directory to save SGF (Optional)
  #SGFDirectory = sgf/Engine1

  # Log file (Optional)
  #LogFile = log/Engine1.txt
