Common:
  KillFile = kill_client
  # Log file (Optional)
  #LogFile = log/cgos.log

GTPEngine:
  Name = randomGo 0.0
  CommandLine = /home/hellwig/Go/randomGo/run/randomGo/randomGo

  ServerHost = localhost
  ServerPort = 6819
  ServerUser = hg-randomgo
  ServerPassword = geheim2143

  # This is ignored in case of a single GTPEngine
  NumberOfGames = 5

  # Directory to save SGF (Optional)
  #SGFDirectory = sgf/Engine1

  # Log file (Optional)
  #LogFile = log/Engine1.txt
