Common:
  KillFile = kill_client
  # Log file (Optional)
  #LogFile = log/cgos.log

GTPEngine:
  Name = Brown 1.0
  CommandLine = /home/hellwig/Go/brown/run/brown-1.0/brown

  ServerHost = localhost
  ServerPort = 6819
  ServerUser = hg-brown
  ServerPassword = geheim3412

  # This is ignored in case of a single GTPEngine
  NumberOfGames = 5

  # Directory to save SGF (Optional)
  #SGFDirectory = sgf/Engine1

  # Log file (Optional)
  #LogFile = log/Engine1.txt
